{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="blog-post">
            <div class="blog-post-header">
                <div>
                    <img src="{{ post.author.profile.image.url }}" alt="{{ post.author.username }}'s profile picture" class="post-author-image">
                    <p>By {{ post.author }} on {{ post.date|date:"F d, Y" }}</p>
                </div>
                <div>
                    <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                </div>
            </div>
            <p>{{ post.content }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock content %}