{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>About - My Blog</title>
{% endblock title %}

{% block content %}
    <div class="form-container">
        <h2>Login to Your Account</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login Details</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn-submit" type="submit">Login</button>
        </form>
    </div>
{% endblock content %}